* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.jumbotron {
    text-align: center;
    background-color: rgb(39, 39, 172);
    background-image: var(--bs-gradient);
    color: white;
    margin-bottom: 20px;
}
 
img {
    width: 4rem;
    height: 4rem;
}
 
.orange {
    background-color: orange;
}
 
.gray {
    background-color: gainsboro;
}